@{
    ViewBag.Title = "Home Page";
}

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Person operations
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @Html.ActionLink("Create", "Create", "Person")
                <br/>
                @Html.ActionLink("List of persons", "Index", "Person")
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Account operations
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                @Html.ActionLink("Open", "Open", "Account")
                <br />
                @Html.ActionLink("Deposit", "Deposit", "Account")
                <br />
                @Html.ActionLink("Withdraw", "Withdraw", "Account")
                <br />
                @Html.ActionLink("Close", "Close", "Account")
                <br />
                @Html.ActionLink("List of accounts", "Index", "Account")
            </div>
        </div>
    </div>
</div>
