@model Task2.UI.MVC.Models.Person.PersonDetailModel

<div>
    <h4>PersonDetailModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @if (Model.Accounts != null)
        {
            <table class="table">
                <thead class="thead-dark">
                <th>
                    <p class="font-weight-bold">Illustrator</p>
                </th>
                </thead>
                @foreach (var item in Model.Accounts)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                    </tr>
                }

            </table>
         }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
